# Carpeta con archivos .py para realizar pruebas de codigo. Se ignora del control de versiones.
Pruebas/
# Fichero pruebas.py se ignora del control de versiones
pruebas.py
# Carpeta con esquemas e imagenes
Imagenes/